.square,   .media-object-thumb {
  position: relative;
  width: 75%;
}

.square:after,   .media-object-thumb:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}


.media-title-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Roboto Condensed", helevtica, sans-serif !important;
  font-weight: 500 !important;
  white-space: nowrap;
  font-size: 2.5em;
  text-shadow: 1px 0 3px #000;
  top: 30%;
  overflow: hidden;
  color: #fff148 !important;
  line-height: 0.98em;
  padding: 10px;
  text-align: center !important;
  text-transform: uppercase;
  letter-spacing: -2px;

    /*text-overflow: ellipsis;*/
}

.media-title-innerBAK {
    color: #fff148 !important;
    line-height: 0.98em;
    padding: 10px;
    text-align: center !important;
    text-transform: uppercase;
    letter-spacing: -2px;
    position: relative;
    text-shadow: 1px 0 3px #000;
    top: 24%;
    width: 100%;
    /* border-left: 2px solid #d10000; */
    font-family: "Roboto Condensed", helevtica, sans-serif !important;
    font-weight: 500 !important;
    white-space: nowrap;
    font-size: 2.5em;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
}
